.container {
  background-color: rgba(197, 197, 197, 0.87);
  position: fixed;
  top: 15vh;
  left: 25vw;
  width: 50vw;
  height: 65vh;
  z-index: 500;
  justify-content: center;
  align-items: center;
  border: 2px inset #b2b2b2;
  border-radius: 15px;
  display: flex;
  flex-direction: column;

  .close {
    font-weight: bold;
    font-size: 24px;
    padding: 2px;
    position: absolute;
    right: 10px;
    top: 10px;
    color: #4b4c54;
    transition: all 250ms ease;


    &:hover {
      cursor: pointer;
      color: #5f6069;
    }
  }

  span {
    margin-bottom: 15px;
  }

  img {
    width: 65%;
  }
}

.backgroundWhichBlock {
  background-color: rgba(217, 216, 216, 0.31);
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 450;
  top: 0;
  left: 0;
  filter: blur(50px);
}
