@import "../../stylesInVariable";

.container {
  background-color: #c6c5c5;
  width: $widthComponentInLeftPanel;
  height: 160px;
  border-top-right-radius: 40px;
  position: relative;
  z-index: 10;
  display: flex;
  column-gap: 5px;
  padding: 5px 0 0 5px;
  box-sizing: border-box;
  align-items: flex-start;

  span {&:hover{
    cursor: pointer;
  }
  }
}
