.container {
  background-color: #b7b7b7;
  position: absolute;
  width: 280px;
  height: 80px;
  bottom: 0;
  right: 0;
  border-top-left-radius: 40px;
  display: flex;
  justify-content: right;
  align-items: center;

  img {
    width: 140px;
  }
}
